body{
  margin: 0;
  overflow: hidden; /* this removes the scroll bar, unfortunately, the replay button has disappeared */  
}

canvas{
  border: 1px solid black;
  display: block;
  margin: 0 auto; /*we set margin to have auto so that the canvas will be in the center */
}
